.taskList {
  color: var(--white);
  text-align: center;
  max-width: 690px;
  margin: 0 auto;
  margin-top: 4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header span:first-child {
  color: var(--blue);
}

